div p{
    color:fuchsia
}


address{
    font-size:  1.5em;
    font-family: sans-serif;
}

.dates{
    font-weight:bold
}


#job1{
    font-style:italic;
}

body{
    font:normal normal normal 16pt/19.8pt Arial, Heveltica,sans-serif;
    
}


table, tr, td{
    border: 1px solid purple;
    border-collapse: collapse

}
table{
    width: 75%
}
p {
color:darkorchid;

}