body{
    font-family: Arial, Heveltica,serif;
    font-size:18pt;
}


table, tr, td{
    border: 1px solid purple;
    border-collapse: collapse

}
table{
    width: 75%
}
p {
color: blueviolet;

}